// Variables

@text-color:#282828;
@text-anchor:#298cbf;
@text-highlight:#74dbfe;
@text-alt-highlight:#abdd3e;

@font-sans-light: "Brandon Grotesque Light", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-sans-roman: "Brandon Grotesque Regular", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-sans-medium: "Brandon Grotesque Medium", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-sans-alt-roman: "Avenir Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-serif-roman: "Adelle Regular", Georgia, Times, serif;
@font-serif-roman-italic: "Adelle Italic", Georgia, Times, serif;
@font-monospace: monospace;

// Font faces

@font-face {
	font-family: 'Brandon Grotesque Light';
	src: url('../fonts/Brandon_light.woff') format('woff'),
	     url('../fonts/Brandon_light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Brandon Grotesque Regular';
	src: url('../fonts/Brandon_reg.woff') format('woff'),
	     url('../fonts/Brandon_reg.ttf')  format('truetype');
}

@font-face {
	font-family: 'Brandon Grotesque Medium';
	src: url('../fonts/Brandon_med.woff') format('woff'),
	     url('../fonts/Brandon_med.ttf')  format('truetype');
}

@font-face {
	font-family: 'Avenir Roman';
	src: url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
	     url('../fonts/AvenirLTStd-Roman.ttf')  format('truetype');
}

@font-face {
	font-family: 'Adelle Regular';
	src: url('../fonts/adelle_regular-webfont.woff') format('woff'),
	     url('../fonts/adelle_regular-webfont.ttf')  format('truetype');
}

@font-face {
	font-family: 'Adelle Italic';
	src: url('../fonts/adelle_italic-webfont.woff') format('woff'),
	     url('../fonts/adelle_italic-webfont.ttf')  format('truetype');
}

// Universals

html, body{
	background:#f3f3f3;
	color:@text-color;
	font:normal 18px/24px @font-sans-alt-roman;
	margin:0px;
	padding:0px;
	width:100%;
	-webkit-font-smoothing:	antialiased;
}

a{
	color:@text-anchor;
	text-decoration:none;
}

	a:hover{
		color:darken(@text-anchor, 20%);
	}

// Structure

.wrapper{
	position:relative;
	width:100%;
	z-index:100;
}

#wrapper-header{
	background:#232323;
}

	#header{
		background: url('../images/banners/banner-01.jpg') no-repeat top right; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height:546px;
		position:relative;
		width:100%;
	}

		#logo{
			background:url('../images/structure/team-trinity-logo.jpg') 0px 0px no-repeat;
			display:block;
			height:100%;
			left:0px;
			position:absolute;
			text-indent:-5000px;
			top:0px;
			width:250px;
			z-index:200px;
		}

#wrapper-navigation{
	background:#dedede;
	border-top:5px solid #eee;
	border-bottom:5px solid #f3f3f3;
	height:70px;
}

	#navigation ul{
		display:inline-block;
		margin:0px;
		padding:0px 0px 0px 35px;
	}

		#navigation ul li{
			display:inline-block;
			padding-right:20px;
		}

			#navigation ul li:last-child{
				padding-right:none;
			}

			#navigation ul li a{
				color:#484848;
				display:inline-block;
				font:22px/70px @font-serif-roman;
				font-style:italic;
			}

#wrapper-main{
	background:#f3f3f3;
}

	#main{
		background:#fff;
		padding:60px 0px 60px 0px;
	}

		#content{

		}

// Page content

.highlight{
	color:@text-highlight;
}

#content h1{
	font:normal 36px/36px @font-serif-roman;
	font-style:italic;
	margin:0px 0px 50px 0px;
	text-align:center;
}

#content h2{
	font:normal 20px/26px @font-serif-roman;
	margin:1em 0px 1em 0px;
}

#content h3{
	font:normal 17px/26px @font-serif-roman;
	margin:1em 0px 1em 0px;
}

#content p{
	font:normal 16px/22px @font-sans-alt-roman;
	margin:1em 0px;
}

#content ul{
	font:normal 18px/24px @font-sans-alt-roman;
	list-style:circle;
	margin:1em 0px;
}

.banner-image{
	margin:50px 0px !important;
	padding:0px 0px !important;
}

	.banner-image img{
		display:block;
	}

// Media styles

@media only screen and (max-width: 767px) {

	#wrapper-header{
		height:320px;
	}

		#logo{
			background:url('../images/structure/team-trinity-logo.jpg') 0px -113px no-repeat;
		}

		#navigation ul li a{
			font-size:20px;
		}

	#wrapper-main{
		background:#fff;
	}

		#main{
			padding-top:30px;
			padding-bottom:30px;
		}

		#content h1{
			margin-bottom:30px;
		}

}

@media only screen and (max-width: 481px) {

	#logo{ // Center logo
		position:relative;
		left:auto;
		top:auto;
		margin:0px auto;
		width:250px;
	}

	#navigation{
		margin:0px auto;
		width:90%;
	}

	#navigation ul li a{
		font-size:15px;
	}

}
